<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Fathym" value="https://fathym.pkgs.visualstudio.com/_packaging/Fathym/nuget/v3/index.json" />
		<add key="LCU" value="https://fathym.pkgs.visualstudio.com/_packaging/LCU/nuget/v3/index.json" />
	</packageSources>
	<!-- used to store credentials -->
	<packageSourceCredentials />
	<!-- Used to specify which one of the sources are active -->
	<activePackageSource>
		<!-- this tells only one given source is active -->
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
		<!-- this tells that all of them are active -->
		<add key="All" value="(Aggregate source)" />
	</activePackageSource> 
	<!-- Used to disable package sources  -->
	<disabledPackageSources />
</configuration>